.upperoption{
  /* border: 1px solid black; */
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: #992B11;
  z-index: 1;
}
.logo{
  position: fixed;
  left: 15px;
  top: 10px;
}
.logoglass{
  position: fixed;
  left: 33px;
  top: 30px;
  width: 20px;
}
.home{
  /* border: 1px solid black; */
  position: fixed;
  left: 700px;
  top: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.homep{
  position: fixed;
  left: 730px;
  top: 8px;
  text-align: right;
  margin: 10px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}
.homelogo{
  position: fixed;
  left: 700px;
  top: 5px;
  margin: 10px;
  width: 20px;
}
/* .video{
  border: 1px solid black;
  position: fixed;
  left: 805px;
  top: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.videop{
  position: fixed;
  left: 835px;
  top: 8px;
  text-align: right;
  margin: 10px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  outline: none;
}
.videologo{
  position: fixed;
  left: 805px;
  top: 5px;
  margin: 10px;
  width: 20px;
} */
.live{
  /* border: 1px solid black; */
  position: fixed;
  left: 809px;
  top: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.livep{
  position: fixed;
  left: 839px;
  top: 8px;
  text-align: right;
  margin: 10px;
  font-family: sans-serif;
  color: white;
}
.livelogo{
  position: fixed;
  left: 809px;
  top: 5px;
  margin: 10px;
  width: 20px;
}
.Contact{
  position:absolute;
   left:912px;
   top:10px;
}
.Contact_us {
  position: fixed;
  display: inline-block;
  text-align: center;
}
.Contact_us ul{
  list-style: none;
}
.Contact_us li:hover{

  /* background: #313131; */
}
.Contact_us > ul{

  padding: 0;
  margin: 0;
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  color: white;
  margin: 0;
  padding: 0;
}

.Contact_us  > ul  >li
{
    font-family: sans-serif;
  position:relative;
  cursor: pointer;
  float:left;
  font-size: 14px;
  width:136px ;
  height: 30px;
  left: 0px;
  top:0px;
  width: 100px;
  line-height: 30px;
  /* text-align: center;*/
}
.Contact_us_part{
  position: absolute;
  top :30px;
  left:0;
  margin: 0;
  padding: 0;
  width: 100%;
}


.Contact_us_part li{
  background:#992B11 ;
  display: none;
}
.Contact_us_part  li:hover{
  /* background:yellow; */
  /* color: yellow; */
    box-shadow: 0px 0px 20px rgba(0, 20, 0, 0.8);
}
.Contact_us  li:hover > .Contact_us_part li{
  display: block;
}



.sign_in{
  /* border: 1px solid black; */
  position: fixed;
  left: 1316px;
  top: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.sign_inp{
  position: fixed;
  left: 1330px;
  top: 8px;
  text-align: center;
  margin: 10px;
  font-family: sans-serif;
  color: white;
}

.sign_up{
  /* border: 1px solid black; */
  position: fixed;
  left: 1419px;
  top: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.sign_upp{
  position: fixed;
  left: 1433px;
  top: 8px;
  text-align: center;
  margin: 10px;
  font-family: sans-serif;
  color: white;
}

.sign_in_left{
  /* border: 1px solid black; */
  position: fixed;
  top: 50px;
  right: 0px;
  width: 230px;
  height: 670px;
  background-color: #992B11;
  display: none;
}
.email_main{
  position: absolute;
  left: 15px;
  top: 60px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.email{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.password_main{
  position: absolute;
  left: 15px;
  top: 120px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
  outline: none;
}
.password{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
  outline: none;
}
.eye{
  /* border: 1px solid black; */
  position: absolute;
  left: 170px;
  cursor: pointer;
}
.hide{
  /* border: 1px solid black; */
  position: absolute;
  left: 170px;
  cursor: pointer;
}
.password_show{
  position: absolute;
  top: 12px;
  left: 0px;
  font-size: 13px;
  font-family:inherit;
}

.in_sign_in{
  position: absolute;
  top: 200px;
  left: 15px;
  width: 200px;
  height: 30px;
  background-color: inherit;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color:  #3E3535;
  border-radius: 5px;
  outline: none;
}
.in_sign_in:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  color: white;
}


.sign_up_left{
  /* border: 1px solid black; */
  position: fixed;
  top: 50px;
  right: 0px;
  width: 230px;
  height: 670px;
  background-color: #992B11;
  display: none;

}
.up_fullname_div{
  position: absolute;
  left: 15px;
  top: 60px;
  padding-left: 0px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.up_fullname{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
  color: #3E3535;
  text-decoration: none;
  outline: none;
}
.up_email_div{
  position: absolute;
  left: 15px;
  top: 110px;
  padding-left: 0px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.up_email{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
  color: #3E3535;
  text-decoration: none;
  outline: none;

}
.up_phone_div{
  position: absolute;
  left: 15px;
  top: 160px;
  padding-left: 0px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.up_phone{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
  color: #3E3535;
  text-decoration: none;
  outline: none;
}
.up_password_div1{
  position: absolute;
  left: 15px;
  top: 210px;
  padding-left: 0px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.up_password_1{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
  color: #3E3535;
  text-decoration: none;
  outline: none;

}
.up_eye{
  /* border: 1px solid black; */
  position: absolute;
  top: 5px;
  left: 175px;
  cursor: pointer;
}
.up_hide{
  /* border: 1px solid black; */
  position: absolute;
  top: 5px;
  left: 175px;
  cursor: pointer;
}
.up_password_div2{
  position: absolute;
  left: 15px;
  top:260px;
  padding-left: 0px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: #992B11;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}
.up_password_2{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 18px;
  width: 180px;
  height: 20px;
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
  color: #3E3535;
  text-decoration: none;
  outline: none;

}

.next{
  position: absolute;
  top: 300px;
  left: 15px;
  width: 200px;
  height: 30px;
  background-color: inherit;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #3E3535;
  border-radius: 5px;
}
.next:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  color: white;
}
.checkbox_tc{
  position: absolute;
  top: 350px;
  left: 15px;
}
.checkbox_p{
  /* border: 1px solid black; */
  position: absolute;
  top: 338px;
  left: 39px;
  width: 200px;
  height: 80px;

}
.checkbox_p_term{
  position: absolute;
  top: 0px;
  left: 0px;
  font-family:monospace;
}
.head_cyber{
  /* border: 1px solid black; */
  position: absolute;
  top: 90px;
  left: 200px;
  width: 1160px;
  height: 970px;
}
.head_cyberh{
    /* border: 1px solid black; */
  position: absolute;
  top: 0px;
  left: 400px;
  color: #42423F;
  font-size: 30px;
  font-family:cursive;
    width: 220px;
}

.head_cybersh{
  /* border: 1px solid black; */
  position: absolute;
  top:80px;
  left: 0px;
  color: #42423F;
  font-size: 30px;
  font-family:cursive;
  width: 150px;
}
.head_cyber1{
  /* border: 1px solid black; */
  position: absolute;
  top:160px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 100px;
}
.head_cyber2{
  /* border: 1px solid black; */
  position: absolute;
  top:260px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 150px;
}
.head_cyber3{
  /* border: 1px solid black; */
  position: absolute;
  top:410px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 100px;
}
.head_cyber4{
  /* border: 1px solid black; */
  position: absolute;
  top:510px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 130px;
}
.head_cyber5{
  /* border: 1px solid black; */
  position: absolute;
  top:640px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 130px;
}
.head_cyber6{
  /* border: 1px solid black; */
  position: absolute;
  top:770px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 100px;
}
.head_cyber7{
  /* border: 1px solid black; */
  position: absolute;
  top:870px;
  left: 0px;
  color: #42423F;
  font-size: 15px;
  font-family:cursive;
  width: 1160px;
  height: 100px;
}





.footer{
  /* border: 1px solid black; */
  position: absolute;
  top:1120px;
  left: 0px;
  width: 100%;
  height: 150px;
  background-color:#992B11;
}
